<title>
	{{title}}
</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="//use.edgefonts.net/lobster-two.js"></script>

<style>
	.title-font {
		font-family: lobster-two, cursive;
	}
</style>
