<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">iLoveMyCity</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/paris">Paris</a></li>
      <li><a href="/berlin">Berlin</a></li>
      <li><a href="/madrin">Madrid</a></li>
      <li><a href="/london">London</a></li>
      <li><a href="/newyork">New York</a></li>
    </ul>
  </div>
</nav>