<div class="row">
	<h1 class="title-font text-center">Every city has something to say!</h1>
</div>

<div class="row">
	<div class="col-md-12">
		<img class="img-responsive" src="images/city.jpg">
	</div>
</div>